@import ../../styles/_mixins

.footer
  width: 100%
  padding: 0.5rem
  @media(min-width: $md)
    padding: 1rem

.ft_wrp
  width: 100%
  padding: 0.5rem
  border-radius: 1.5rem
  overflow: hidden
  @include fl-tl
  @include fl-c
  gap: 1rem
  background: $pri-col
  color: $def-col
  position: relative
  z-index: 4
  @media(min-width: $md)
    padding: 1rem

.ft_top
  width: 100%
  @include fl-tl
  @include fl-sb

.logo_wrp
  width: 20%
  aspect-ratio: 1/1
  overflow: hidden

.logo
  width: 100%
  max-width: 80px
  object-fit: cover

.con_link_wrp
  width: 65%
  @include fl-bl
  @include fl-c
  gap: 1rem

.con_link
  border-radius: 25px
  background: $def-col
  @include fl-cl
  gap: 4rem
  padding: 0.25rem
  padding-left: 1.1rem
  @include hover-fade

.con_bd
  flex: 1
  font-weight: 500
  font-size: 0.85rem
  opacity: 0.5
  font-family: $font-otf
  letter-spacing: 0.05em
  color: $pri-col
  @media(min-width: $lg)
    font-size: 0.9rem

.arr_ico_wrp
  background: $sec-col
  @include fl-cc
  padding: 0.5rem
  border-radius: 50%

.arr_ico
  width: 0.9rem
  height: 0.9rem
  color: $pri-col
  stroke-width: 3

.socials
  width: 100%
  @include fl-cr
  gap: 0.75rem

.soc_ico_wrp
  @include fl-cc
  padding: 0.5rem
  border-radius: 50%
  background: $def-col
  @include hover-fade

.soc_ico
  fill: $pri-col
  width: 1rem
  height: 1rem
  @media(min-width: $lg)
    width: 1.5rem
    height: 1.5rem

.sep
  margin: 0 auto
  width: 70%
  height: 1px
  background: $def-col
  opacity: 0.2

.ft_mid
  width: 100%
  @include fl-tl
  @include fl-sb
  padding: 0 0.5rem

.ft_menu
  flex: 0.5
  @include fl-tl
  @include fl-c
  gap: 0.5rem
  // @include fl-sb
  align-self: stretch

.con_dets
  flex: 0.5
  @include fl-bl
  @include fl-c
  gap: 1rem
  align-self: stretch

.menu_link
  @include hover-fade
  font-family: $font-otf
  font-weight: 400
  font-size: 0.8rem
  letter-spacing: 0.04em
  @media(min-width: $lg)
    font-size: 0.875rem

.con_det_grp
  width: 100%
  @include fl-bl
  @include fl-c
  font-family: $font-otf
  text-align: right
  h5
    width: 100%
    font-size: 0.875rem
    color: $def-col
    font-weight: 500
    letter-spacing: 0.03em
    margin-bottom: 0.5rem
  p
    width: 100%
    font-size: 0.8rem
    font-weight: 300
    opacity: 0.7

.ft_btt
  width: 100%
  @include fl-tc
  @include fl-c
  gap: 0.5rem
  font-family: $font-otf

.copyright
  width: 100%
  opacity: 0.75
  font-size: 0.65rem
  font-weight: 300
  text-align: center
  @media(min-width: $md)
    text-align: right
  @media(min-width: $lg)
    font-size: 0.8rem

.ppol_grp
  width: 100%
  @include fl-cc
  gap: 1rem

.ppol_link
  font-size: 0.75rem
  font-weight: 400
  opacity: 0.8

.md_ft
  width: 100%
  @include fl-tl
  @include fl-c
  gap: 1rem

.md_con
  width: 100%
  @include fl-bl
  @include fl-sb

.md_con_hd
  width: 60%
  font-size: 3rem
  font-family: $font-ave
  color: $def-col
  font-weight: 500
  line-height: 1.2
  @media(min-width: $lg)
    width: 40%

.md_con_cta_wrp
  width: 35%
  @include fl-cr

.md_con_link
  @extend .con_link
  width: 70%
  @include fl-sb

.md_sep
  @extend .sep
  width: 100%
  margin: 1rem 0

.md_ft_con
  min-height: 20vh
  width: 100%
  @include fl-tl
  @include fl-sb
  gap: 3rem
  font-family: $font-otf
  @media(min-width: $lg)
    min-height: 40vh

.md_ft_lf
  flex: 0.5
  @include fl-tl
  @include fl-c
  @include fl-sb
  align-self: stretch
  gap: 1rem

.md_ft_hdg
  width: 100%
  @include fl-tl
  @include fl-c
  gap: 1rem

.md_logo
  width: 22.9vw
  max-width: 190px
  opacity: 0.92

.md_ft_bd
  opacity: 0.7
  font-size: 0.65rem
  font-weight: 300
  letter-spacing: 0.04em
  line-height: 1.4
  width: 80%
  @media(min-width: $lg)
    font-size: 0.85rem

.md_hdg_cta
  margin-top: -0.5rem
  font-weight: 500
  font-size: 0.65rem
  @include hover-fade
  color: $def-col
  @include fl-cl
  gap: 0.25rem
  @media(min-width: $lg)
    font-size: 0.8rem
  span
    margin-top: 0.1rem
    border-radius: 50%
    width: 0.5rem
    height: 0.5rem
    background: $def-col

.md_socials
  @extend .socials
  @include fl-cl

.md_ft_ri
  flex: 0.5
  @include fl-tl
  @include fl-c
  @include fl-sb
  gap: 1rem
  align-self: stretch

.md_ft_menu
  width: 100%
  @include fl-cl
  gap: 2rem
  opacity: 0.8

.md_sup_dets
  width: 100%
  @include fl-bl
  @include fl-sb
  gap: 1rem

.md_man_con
  @include fl-tl
  @include fl-c
  gap: 2rem

.md_con_det_grp
  @extend .con_det_grp
  @media(min-width: $md)
    @include fl-tl
    @include fl-c
    text-align: left
    h5
      @media(min-width: $lg)
        font-size: 0.95rem
    p
      font-size: 0.65rem
      opacity: 0.7
      @media(min-width: $lg)
        font-size: 0.875rem

.bg_logo_wrp
  position: absolute
  right: -3rem
  bottom: -1.5rem
  z-index: 1

.bg_logo
  opacity: 0.4
  width: 30vw
  max-width: 410px
